{% extends "movies/base.html" %}
{% load static %}

{% block breadcrumbs %}
    <li class="breadcrumb-item active">Home</li>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">
                        Movies
                    </h5>
                    <p class="card-text">
                        <a href="{% url "movies:movies-list" %}">{{ movies.count }} Movies</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">
                        Theaters
                    </h5>
                    <p class="card-text">
                        <a href="{% url "movies:theaters-list" %}">{{ theaters.count }} Theaters</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <hr>

    <div id="map_canvas" style="height: 354px; width:713px;"></div>

    <!-- <script type="text/javascript">
    function addMarkers() {

        {% for mark in theater %}
          var point = new google.maps.LatLng({{mark.position.lat}},{{mark.position.long}});
              var image = '{{ STATIC_PREFIX }}'+ 'checkmark.png';
              var marker = new google.maps.Marker({
              position: point,
              map: map,
              icon: image,
              url: 'http://127.0.0.1:8000/movies/theater/' + {{mark.id}},
             title: '{{ mark.id }}',
          });
               marker['infowindow']  = new google.maps.InfoWindow({
                       content: "<h1>{{mark.name}}</h1> <br> {{ mark.name }} <p> <a href=\"http:\/\/172.16.0.101:8882\/theater\/{{ mark.id }}\"> {{ mark.name }}</a>",
          });
              google.maps.event.addListener(marker, 'click', function() {
                  //window.location.href = this.url;
                   this['infowindow'].open(map, this);
              });
             google.maps.event.addListener(marker, 'mouseover', function() {
                  // this['infowindow'].open(map, this);
                      });
             google.maps.event.addListener(marker, 'mouseout', function() {
                  // this['infowindow'].close(map, this);

              });

          {% endfor %}
          </script> -->
    <div id="map"></div>




{% endblock %}

{% block script %}
<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB-TLa0eIrhLlxQ7N4OmV8M9DW2LTUVNyM&callback=initMap">
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&callback=initialize"></script>
<script src="{% static "movies/js/bar_complete.js" %}"></script>
<script src="{% static "movies/js/home.js" %}"></script>
{% endblock %}
